
<div *ngIf="enseignant">
  <div>
    <label class="center-block">CNI:{{enseignant.cni}}</label>
    <label class="center-block">Nom et Prenom:{{enseignant.nomComplet}}</label>
  </div>
  <h3><i>Choisissez pour inserer une photo</i></h3>
  <form [formGroup]="ensPhotoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="-align-center">Photo enseignant: </label>
      <input type="file" class="form-control"  #enseignantImage  formControlName="ensImg">
    </div>

    <button type="submit" class="btn btn-primary">Enregister</button>
    <button  class="btn btn-danger" (click)="annuler()">Annuler</button>

  </form>
</div>
