<div class="row">
  <div class="container-fluid">
    <educ-navbar></educ-navbar>
  </div>
</div>

<div class="row">
  <div class="col-md-2 ">
    <educ-menubar></educ-menubar>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>

</div>
