md-chip {
  max-width: 50px;
  height: 32px;

}

.ens-container {

  height: 400px;

}

md-chip {
  max-width: 450px;
}


.listes{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

}
.item{
  margin: 5px;


}

.item:nth-child(1){
  flex: 6;
}
.item:nth-child(2){
  margin: 5px;

  flex: 1;

  height: auto;


}

.item:nth-child(3){
  flex: 8;
  display:flex;
  flex-direction: row;
  justify-content: center;
}



.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-1{
  margin: 5px;
  margin-bottom: 10px;
}
.action-2{
  margin: 5px;
  margin-bottom: 10px;
}
.action-3{
  margin: 5px;
  margin-bottom: 10px;
}

.contsidnav{
  height: 410px;
}

.photo-list{
  width: 55px;
  height: 55px;

}
