<div class="row container">
<div class="jumbotron text-center col-md-9">
  <h2 style="color: orange" align="center">
    {{title}}
    <br><i class="fa fa-refresh fa-spin fa-3x fa-fw " align="center" style="color: black" ></i>
  </h2>
  <hr>
<div>
  <button pButton type="text"  icon="fa-check" label="INVITES" class="ui-button-danger" (click)="onInvite()"></button>
  <button pButton type="text"  icon="fa-check" label="ENSEIGNANTS" class="ui-button-info" (click)="onEnseignant()"></button>

</div>
</div>
</div>
